<style>body { font-family: Verdana, Geneva, sans-serif; font-size: 16px; background-color: #f7fcff; line-height: 1.5; word-wrap: break-word; margin: 20px; padding: 45px; background-color: #fff; border: 1px solid #6a1a41; border-radius: 3px;} table { border-collapse: collapse; width: 100%; margin-bottom: 20px; border: 1px solid black;} th { background-color: #6a1a41; height: 50px; color: #fff;} th, td { text-align: center-left; border: 1px solid black; padding: 5px; text-align: left;} tr:nth-child(even) {background-color: #f2f2f2;} code { display: inline-block; overflow: visible; padding-left: 10px; padding-bottom: 10px; } pre { overflow: auto; font-size: 85%; background-color: #f6f8fa; border-radius: 3px; }</style><h1>test asset_application security test_10-03-19</h1>
<h4>Executive Summary</h4>
<p>sum</p>
<table>
<thead>
<tr>
<th><strong>Description</strong></th>
<th><strong>Detail</strong></th>
</tr>
</thead>
<tbody>
<tr>
<td>Asset</td>
<td>test asset</td>
</tr>
<tr>
<td>Location</td>
<td>here</td>
</tr>
<tr>
<td>Limitations</td>
<td>none</td>
</tr>
</tbody>
</table>
<h4>Issue Summary</h4>
<table>
<thead>
<tr>
<th><strong>Issue Ref</strong></th>
<th><strong>Issue Title</strong></th>
<th><strong>Rating</strong></th>
<th><strong>Status</strong></th>
</tr>
</thead>
<tbody>
<tr>
<td>1</td>
<td>some issue</td>
<td>high</td>
<td>Open</td>
</tr>
</tbody>
</table>
<h4>Technical Findings</h4>
<table>
<thead>
<tr>
<th><strong>Ref</strong></th>
<th>1 - some issue</th>
</tr>
</thead>
<tbody>
<tr>
<td>Status</td>
<td>Open</td>
</tr>
<tr>
<td>Issue Title</td>
<td>some issue</td>
</tr>
<tr>
<td>Risk Rating</td>
<td>high</td>
</tr>
<tr>
<td>Description</td>
<td>desc</td>
</tr>
<tr>
<td>Remediation</td>
<td>rem</td>
</tr>
</tbody>
</table>
<h4>Appendix</h4>
<p><strong>Remediation Timelines</strong></p>
<table>
<thead>
<tr>
<th align="right">Issue Rating</th>
<th>Remediation Time</th>
</tr>
</thead>
<tbody>
<tr>
<td align="right">Critical</td>
<td>7 Days</td>
</tr>
<tr>
<td align="right">High</td>
<td>30 Days</td>
</tr>
<tr>
<td align="right">Medium</td>
<td>60 Days</td>
</tr>
<tr>
<td align="right">Low</td>
<td>180 Days</td>
</tr>
</tbody>
</table>