<style>body { font-family: Verdana, Geneva, sans-serif; font-size: 16px; background-color: #f7fcff; line-height: 1.5; word-wrap: break-word; margin: 20px; padding: 45px; background-color: #fff; border: 1px solid #6a1a41; border-radius: 3px;} table { border-collapse: collapse; width: 100%; margin-bottom: 20px; border: 1px solid black;} th { background-color: #6a1a41; height: 50px; color: #fff;} th, td { text-align: center-left; border: 1px solid black; padding: 5px; text-align: left;} tr:nth-child(even) {background-color: #f2f2f2;} code { display: inline-block; overflow: visible; padding-left: 10px; padding-bottom: 10px; } pre { overflow: auto; font-size: 85%; background-color: #f6f8fa; border-radius: 3px; }</style><h1>TestThirdParty 4_Third Party Risk Assessment_10-03-19</h1>
<h4>Executive Summary</h4>
<p>This is a summary for the Third Party Risk Assessment for TestThirdParty4. Some assessing was done and some results were produced.</p>
<table>
<thead>
<tr>
<th><strong>Description</strong></th>
<th><strong>Detail</strong></th>
</tr>
</thead>
<tbody>
<tr>
<td>Asset</td>
<td>TestThirdParty 4</td>
</tr>
<tr>
<td>Location</td>
<td>A Third Party address, TestThirdParty4</td>
</tr>
<tr>
<td>Limitations</td>
<td>None</td>
</tr>
</tbody>
</table>
<h4>Issue Summary</h4>
<table>
<thead>
<tr>
<th><strong>Issue Ref</strong></th>
<th><strong>Issue Title</strong></th>
<th><strong>Rating</strong></th>
<th><strong>Status</strong></th>
</tr>
</thead>
<tbody>
<tr>
<td>876</td>
<td>User Access Not Recertified Regularly</td>
<td>Critical</td>
<td>Open</td>
</tr>
<tr>
<td>877</td>
<td>Insufficient Employee Vetting</td>
<td>Critical</td>
<td>Open</td>
</tr>
<tr>
<td>878</td>
<td>Inadequate Physical Security</td>
<td>Critical</td>
<td>Closed</td>
</tr>
<tr>
<td>879</td>
<td>Insufficient Employee Vetting</td>
<td>Low</td>
<td>Closed</td>
</tr>
<tr>
<td>880</td>
<td>Insufficient Employee Vetting</td>
<td>Medium</td>
<td>Open</td>
</tr>
<tr>
<td>881</td>
<td>No Information Security Policy</td>
<td>Critical</td>
<td>Risk Accepted</td>
</tr>
<tr>
<td>882</td>
<td>No Vendor Risk Management Policy</td>
<td>Critical</td>
<td>Risk Accepted</td>
</tr>
<tr>
<td>883</td>
<td>User Access Not Recertified Regularly</td>
<td>Low</td>
<td>Closed</td>
</tr>
<tr>
<td>884</td>
<td>Inadequate Physical Security</td>
<td>Critical</td>
<td>Closed</td>
</tr>
</tbody>
</table>
<h4>Technical Findings</h4>
<table>
<thead>
<tr>
<th><strong>Ref</strong></th>
<th>876 - User Access Not Recertified Regularly</th>
</tr>
</thead>
<tbody>
<tr>
<td>Status</td>
<td>Open</td>
</tr>
<tr>
<td>Issue Title</td>
<td>User Access Not Recertified Regularly</td>
</tr>
<tr>
<td>Risk Rating</td>
<td>Critical</td>
</tr>
<tr>
<td>Description</td>
<td>This is the description of some issue found in a Third Party Risk Assessment</td>
</tr>
<tr>
<td>Remediation</td>
<td>This text would explain the best way to fix the issue found in the Assessment</td>
</tr>
</tbody>
</table>
<table>
<thead>
<tr>
<th><strong>Ref</strong></th>
<th>877 - Insufficient Employee Vetting</th>
</tr>
</thead>
<tbody>
<tr>
<td>Status</td>
<td>Open</td>
</tr>
<tr>
<td>Issue Title</td>
<td>Insufficient Employee Vetting</td>
</tr>
<tr>
<td>Risk Rating</td>
<td>Critical</td>
</tr>
<tr>
<td>Description</td>
<td>This is the description of some issue found in a Third Party Risk Assessment</td>
</tr>
<tr>
<td>Remediation</td>
<td>This text would explain the best way to fix the issue found in the Assessment</td>
</tr>
</tbody>
</table>
<table>
<thead>
<tr>
<th><strong>Ref</strong></th>
<th>878 - Inadequate Physical Security</th>
</tr>
</thead>
<tbody>
<tr>
<td>Status</td>
<td>Closed</td>
</tr>
<tr>
<td>Issue Title</td>
<td>Inadequate Physical Security</td>
</tr>
<tr>
<td>Risk Rating</td>
<td>Critical</td>
</tr>
<tr>
<td>Description</td>
<td>This is the description of some issue found in a Third Party Risk Assessment</td>
</tr>
<tr>
<td>Remediation</td>
<td>This text would explain the best way to fix the issue found in the Assessment</td>
</tr>
</tbody>
</table>
<table>
<thead>
<tr>
<th><strong>Ref</strong></th>
<th>879 - Insufficient Employee Vetting</th>
</tr>
</thead>
<tbody>
<tr>
<td>Status</td>
<td>Closed</td>
</tr>
<tr>
<td>Issue Title</td>
<td>Insufficient Employee Vetting</td>
</tr>
<tr>
<td>Risk Rating</td>
<td>Low</td>
</tr>
<tr>
<td>Description</td>
<td>This is the description of some issue found in a Third Party Risk Assessment</td>
</tr>
<tr>
<td>Remediation</td>
<td>This text would explain the best way to fix the issue found in the Assessment</td>
</tr>
</tbody>
</table>
<table>
<thead>
<tr>
<th><strong>Ref</strong></th>
<th>880 - Insufficient Employee Vetting</th>
</tr>
</thead>
<tbody>
<tr>
<td>Status</td>
<td>Open</td>
</tr>
<tr>
<td>Issue Title</td>
<td>Insufficient Employee Vetting</td>
</tr>
<tr>
<td>Risk Rating</td>
<td>Medium</td>
</tr>
<tr>
<td>Description</td>
<td>This is the description of some issue found in a Third Party Risk Assessment</td>
</tr>
<tr>
<td>Remediation</td>
<td>This text would explain the best way to fix the issue found in the Assessment</td>
</tr>
</tbody>
</table>
<table>
<thead>
<tr>
<th><strong>Ref</strong></th>
<th>881 - No Information Security Policy</th>
</tr>
</thead>
<tbody>
<tr>
<td>Status</td>
<td>Risk Accepted</td>
</tr>
<tr>
<td>Issue Title</td>
<td>No Information Security Policy</td>
</tr>
<tr>
<td>Risk Rating</td>
<td>Critical</td>
</tr>
<tr>
<td>Description</td>
<td>This is the description of some issue found in a Third Party Risk Assessment</td>
</tr>
<tr>
<td>Remediation</td>
<td>This text would explain the best way to fix the issue found in the Assessment</td>
</tr>
</tbody>
</table>
<table>
<thead>
<tr>
<th><strong>Ref</strong></th>
<th>882 - No Vendor Risk Management Policy</th>
</tr>
</thead>
<tbody>
<tr>
<td>Status</td>
<td>Risk Accepted</td>
</tr>
<tr>
<td>Issue Title</td>
<td>No Vendor Risk Management Policy</td>
</tr>
<tr>
<td>Risk Rating</td>
<td>Critical</td>
</tr>
<tr>
<td>Description</td>
<td>This is the description of some issue found in a Third Party Risk Assessment</td>
</tr>
<tr>
<td>Remediation</td>
<td>This text would explain the best way to fix the issue found in the Assessment</td>
</tr>
</tbody>
</table>
<table>
<thead>
<tr>
<th><strong>Ref</strong></th>
<th>883 - User Access Not Recertified Regularly</th>
</tr>
</thead>
<tbody>
<tr>
<td>Status</td>
<td>Closed</td>
</tr>
<tr>
<td>Issue Title</td>
<td>User Access Not Recertified Regularly</td>
</tr>
<tr>
<td>Risk Rating</td>
<td>Low</td>
</tr>
<tr>
<td>Description</td>
<td>This is the description of some issue found in a Third Party Risk Assessment</td>
</tr>
<tr>
<td>Remediation</td>
<td>This text would explain the best way to fix the issue found in the Assessment</td>
</tr>
</tbody>
</table>
<table>
<thead>
<tr>
<th><strong>Ref</strong></th>
<th>884 - Inadequate Physical Security</th>
</tr>
</thead>
<tbody>
<tr>
<td>Status</td>
<td>Closed</td>
</tr>
<tr>
<td>Issue Title</td>
<td>Inadequate Physical Security</td>
</tr>
<tr>
<td>Risk Rating</td>
<td>Critical</td>
</tr>
<tr>
<td>Description</td>
<td>This is the description of some issue found in a Third Party Risk Assessment</td>
</tr>
<tr>
<td>Remediation</td>
<td>This text would explain the best way to fix the issue found in the Assessment</td>
</tr>
</tbody>
</table>
<h4>Appendix</h4>
<p>876 - User Access Not Recertified Regularly</p>
<pre><code>A write up of the steps to reproduce the issue. /
                    These can include code, data dumps, step by step instructions etc.
</code></pre>

<p>877 - Insufficient Employee Vetting</p>
<pre><code>A write up of the steps to reproduce the issue. /
                    These can include code, data dumps, step by step instructions etc.
</code></pre>

<p>878 - Inadequate Physical Security</p>
<pre><code>A write up of the steps to reproduce the issue. /
                    These can include code, data dumps, step by step instructions etc.
</code></pre>

<p>879 - Insufficient Employee Vetting</p>
<pre><code>A write up of the steps to reproduce the issue. /
                    These can include code, data dumps, step by step instructions etc.
</code></pre>

<p>880 - Insufficient Employee Vetting</p>
<pre><code>A write up of the steps to reproduce the issue. /
                    These can include code, data dumps, step by step instructions etc.
</code></pre>

<p>881 - No Information Security Policy</p>
<pre><code>A write up of the steps to reproduce the issue. /
                    These can include code, data dumps, step by step instructions etc.
</code></pre>

<p>882 - No Vendor Risk Management Policy</p>
<pre><code>A write up of the steps to reproduce the issue. /
                    These can include code, data dumps, step by step instructions etc.
</code></pre>

<p>883 - User Access Not Recertified Regularly</p>
<pre><code>A write up of the steps to reproduce the issue. /
                    These can include code, data dumps, step by step instructions etc.
</code></pre>

<p>884 - Inadequate Physical Security</p>
<pre><code>A write up of the steps to reproduce the issue. /
                    These can include code, data dumps, step by step instructions etc.
</code></pre>

<p><strong>Remediation Timelines</strong></p>
<table>
<thead>
<tr>
<th align="right">Issue Rating</th>
<th>Remediation Time</th>
</tr>
</thead>
<tbody>
<tr>
<td align="right">Critical</td>
<td>7 Days</td>
</tr>
<tr>
<td align="right">High</td>
<td>30 Days</td>
</tr>
<tr>
<td align="right">Medium</td>
<td>60 Days</td>
</tr>
<tr>
<td align="right">Low</td>
<td>180 Days</td>
</tr>
</tbody>
</table>