{% extends "template.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="static/forms.css">
<link rel="stylesheet" type="text/css" href="static/buttons.css">
<p class="the_forms">Log All The Issues!</p>
<div class="forms">
<form action="/create" method="post">
<label for="longName">Issue Title (Descriptive name of the finding)</label>
<input type="text" name="longName" id="longName" required autofocus>
<label for="categoryName" class="select_menu">Category Name
<select name="categoryName" id="categoryName">
<option selected value="base"></option>
<option value="Broken Authentication and Session Management">Broken Authentication and Session Management</option>
<option value="Broken Authorization">Broken Authorization</option>
<option value="Error Handling">Error Handling</option>
<option value="Injection">Injection</option>
<option value="Miscellaneous">Miscellaneous</option>
<option value="Security Misconfiguration">Security Misconfiguration</option>
<option value="Sensitive Data Exposure">Sensitive Data Exposure</option>
<option value="Weak Encryption">Weak Encryption</option>
<option value="Business Logic Error">Business Logic Error</option>
</select>
</label>
<label for="impScore">Impact</label>
<input type="text" name="impScore" id="impScore" required>
<label for="likScore">Likelihood</label>
<input type="text" name="likScore" id="likScore" required>
<label for="description">Issue Description</label>
<textarea type="text" name="description" id="description" required></textarea>
<label for="remediation">Remediation</label>
<textarea type="text" name="remediation" id="remediation" required></textarea>
<label for="location">Location (URL)</label>
<input type="text" name="location" id="location" required>
<label for="appendix">Issue details</label>
<textarea type="text" name="appendix" id="appendix"></textarea>
<div class="button_frame">
<button class="push_button blue" type="submit">Log Another</button>
<a class="push_button darkblue" href="/finish">Finished</a>
</div>
</form>
</div>
{% endblock %}