{% extends "template.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="static/buttons.css">
<link rel="stylesheet" type="text/css" href="static/tables.css">
  <table class="tablea">
    <caption>{% if assetName %}{{ assetName }}{% else %}Engagement Data{% endif %}</caption>
    <thead>
      <tr>
		<th scope="col">Asset Name</th>
        <th scope="col">Engagement Form Location</th>
        <th scope="col">Main Contact</th>
		<th scope="col">Risk Rating</th>
		<th scope="col">Received On</th>
		<th scope="col">Action Taken</th>
		<th scope="col">View Tests</th>
		<th scope="col">New Test</th>
      </tr>
    </thead>
    <tbody>
	{% for row in data %}
      <tr>
		<td scope="row" data-title="assetName">{{row[8]}}</td>
        <td data-title="engformLocation">{{row[2]}}</td>
        <td data-title="mainContact">{{row[3]}}</td>
		<td data-title="riskRating">{{row[4]}}</td>
		<td data-title="receivedOn">{{row[5]}}</td>
		<td data-title="actionTaken">{{row[6]}}</td>
		<td data-title="viewTest"><a class="push_button darkblue fa-eye" href="{{ url_for('viewtests', assetID=row[1], engID=row[0], assetName=row[8]) }}"></a></td>
		<td data-title="newTest"><a class="push_button darkblue fa-plus" href="{{ url_for('newtest', assetID=row[1], engID=row[0]) }}"></a></td>
      </tr>
	  {% endfor %}
    </tbody>
  </table>
{% endblock %}