{% extends "template.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="static/buttons.css">
<link rel="stylesheet" type="text/css" href="static/tables.css">
  <table class="tablea">
    <caption>{% if assetName %}{{ assetName }}{% else %}Issue Data{% endif %}</caption>
    <thead>
      <tr>
		<th scope="col">Asset Name</th>
        <th scope="col">Issue Title</th>
        <th scope="col">Issue Location</th>
		<th scope="col">Description</th>
		<th scope="col">Remediation</th>
		<th scope="col">Risk Rating</th>
		<th scope="col">Created On</th>
		<th scope="col">Status</th>
		<th scope="col">Update</th>
      </tr>
    </thead>
    <tbody>
	{% for row in data %}
      <tr>
		<td scope="row" data-title="assetName">{% if assetName %}{{ assetName }}{% else %}{{row['asset_name']}}{% endif %}</td>
        <td data-title="issueTitle">{{row['issue_title']}}</td>
        <td data-title="vulnLocation">{{row['issue_location']}}</td>
		<td data-title="description">{{row['issue_description']}}</td>
		<td data-title="remediation">{{row['remediation']}}</td>
		<td data-title="riskRating">{{row['risk_rating']}}</td>
		<td data-title="createdOn">{{row['created_on']}}</td>
		<td data-title="status">{{row['issue_status']}}</td>
		<td data-title="updateIssue"><a class="push_button fa-update darkblue" href="{{ url_for('updateissue', issueID=row['issue_id'], assetID=row['asset_id']) }}"></a></td>
      </tr>
	  {% endfor %}
    </tbody>
  </table>
{% endblock %}
